/*CSS Reset*/
*{


	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*class*/
.sample {
	height: 150px;
	width: 150;
	border: 2px solid blue;
	background-color: green;
	vertical-align: top;
}




/*id selector*/
#box1{
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: orange;
	display: inline-block;
	vertical-align: top;
}

#box2{
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid red;
	background-color: yellow;
	display: inline-block;
}



html {
	font-size: ;
}