/* CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

/*nav bar*/

nav {
	/*text-align: center;*/
	padding: 0.8rem;
	margin-bottom: 0.5rem;
	color: white;
	font-weight: bold;
	background-color: goldenrod;

}

/*combinators*/
nav > ul {
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}


/*id selectors*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 2rem;
	text-align: center;
	background-color: lightblue;
}
#intro button {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: white;
	font-weight: bold;
	background-color: goldenrod;
	border-radius: 25px;
	font-size: 1rem;
}
#products {
	display: flex;
	background-color: greenyellow;
	margin-top: 0.5rem;
	margin-bottom: 0.1rem; 
}

#products .card {
	display: inline-block;
	vertical-align: top;
	min-height: 50px;
	width: 30%;
	margin-left: 3rem;
	margin-right: 0.3rem;
	border: 2px solid width;
	background-color: goldenrod;
	border-radius: 15px;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem

}
#products .card, .pic, .description {
	padding-top: .5rem;
	padding-bottom: 0.5rem;
	padding-left: 10%;
	padding-right: 10%;
}
#products h3 {
	color: white;
	margin-bottom: 1rem;
	text-align: center;
}
.description {
	color: white;
	margin-top: 1rem;
}
#pre-footer {
	color: white;
	background-color: goldenrod;
	margin-top: 0.1rem;
}
#pre-footer > div {
	display: inline-block;
	width: 10%;
	vertical-align: top;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
	margin-left: 1rem;
}
/*#pre-footer > div  {*/
	/*margin-top: 0.5rem;
	margin-bottom: 0.3rem;
	margin-left: 1rem;*/
	/*padding-left: 10%;
	padding-right: 10%*/
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}